
.placeholder {
    transition: 0.3s;
    color: #999999;
    pointer-events: none;
}

.inputAction:focus + .placeholder {
    margin-top: -68px;
    font-size: 12px;
    background-color:#00918e ;
    color:white;
    border-radius: 5px;
}