
.placeholder {
    transition: 0.3s;
    color: #999999;
    pointer-events: none;
}

.inputAction:focus + .placeholder {
    margin-top: -79.21px;
    font-size: 14px;
    background-color:#111111 ;
    color:white;
    border-radius: 5px;
}