
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scroll CSS */
#scrollHome{

}
#scrollHome::-webkit-scrollbar{
    height: 0%;
    width: 0%;
    background-color: black;
}
#scrollHome::-webkit-scrollbar-track{
    visibility: hidden;
}
#scrollHome::-webkit-scrollbar-thumb{
    width: 0.4rem;
    border-radius:20px ;
}
#scrollHome:hover::-webkit-scrollbar-thumb{
    visibility: hidden;
}

/* Scroll CSS */
#settingScroll{

}
#settingScroll::-webkit-scrollbar{
    width: 0rem;
}
#settingScroll::-webkit-scrollbar-track{
    visibility: hidden;
}
#settingScroll::-webkit-scrollbar-thumb{
    width: 0.2rem;
    border-radius:20px ;
}
#settingScroll:hover::-webkit-scrollbar-thumb{
    visibility: hidden;
}

#menuScroll{

}
#menuScroll::-webkit-scrollbar{
    width: 0.1rem;
}
#menuScroll::-webkit-scrollbar-track{
    margin-top: 20px;
    margin-bottom: 20px;
    visibility: hidden;
}
#menuScroll::-webkit-scrollbar-thumb{
    width: 0.1rem;
    border-radius:20px ;
}
#menuScroll:hover::-webkit-scrollbar-thumb{
    background-color: #0749f09d;
    
}

#feedScroll{

}
#feedScroll::-webkit-scrollbar{
    width: 0.4rem;
}
#feedScroll::-webkit-scrollbar-track{
    visibility: hidden;
}
#feedScroll::-webkit-scrollbar-thumb{
    width: 0.2rem;
    border-radius:20px ;
}
#feedScroll:hover::-webkit-scrollbar-thumb{
    visibility: none;
    
}


/* Scroll CSS */
#scrollStories{

}
#scrollStories::-webkit-scrollbar{
    height: 0%;
    width: 0%;
    background-color: black;
}
#scrollStories::-webkit-scrollbar-track{
    visibility: hidden;
}
#scrollStories::-webkit-scrollbar-thumb{
    width: 0.4rem;
    border-radius:20px ;
}
#scrollStories:hover::-webkit-scrollbar-thumb{
    visibility: hidden;
}





/* Fonts */
.cedarville{
  font-family: "Cedarville Cursive", cursive;
}

.radio {
  font-family: "Radio Canada Big", sans-serif;
}

.cabin {
  font-family: "Cabin Sketch", sans-serif;
}

.kanit {
  font-family: "Kanit", sans-serif;
}

.anton {
  font-family: "Anton", sans-serif;
}

.belanosima {
  font-family: "Belanosima", sans-serif;
}

.mooli {
  font-family: "Mooli", sans-serif;
}

.protest {
  font-family: "Protest Guerrilla", sans-serif;
}

.mono {
  font-family: "Major Mono Display", monospace;
}

.dosis {
  font-family: "Dosis", sans-serif;
}

.playwrite {
  font-family: "Playwrite FR Moderne", cursive;
}

.playwrite2 {
  font-family: "Playwrite DE Grund", cursive;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.exo {
  font-family: "Exo", sans-serif;
}

.itim {
  font-family: "Itim", cursive;
}

.monoton {
  font-family: "Monoton", sans-serif;
}

.grand {
  font-family: "Grand Hotel", cursive;
  font-weight: 0;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.borel {
  font-family: "Borel", cursive;
}

.dongle {
  font-family: "Dongle", sans-serif;
}



.glowup {
  text-shadow: 0px 0px 20px #35e8b5;
}

.profileGlow {
  text-shadow: 5px 5px 5px #232323;
}

.custom-height {
  height: calc(webkit-fill-available - 80px) /* Fallback for other browsers */
}




/* Home Animation */
.formHidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(200%);
  transition: all 600ms
}

.formShow {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 600ms
}